<h1>Services for Adults</h1>

<p>If you're interested in signing up, <%= link_to("download our enrollment form", "/files/enroll.pdf") %>.</p>

<h2>Judo</h2>
<p><strong>Basic description</strong> - private, partner and semi-private judo lessons for adults</p>
<p><strong>Benefits</strong> - In addition to the technical and self-defense benefits, kosen judo offers anaerobic, aerobic, full body strength and flexibility training.  Increases your confidence on your feet as well as on the ground.</p>
<p><strong>Details</strong> - Standing throws and ground techniques including pins, chokes and armlocks are taught. Basic elements and fundamentals such as grips, movement and posture are emphasized. You will sweat and be challenged physically and mentally.</p>

<h2>No-gi Judo</h2>
<p><strong>Basic description</strong> - private, partner and semi-private no-gi judo lessons for adults</p>
<p><strong>Benefits</strong> - In addition to the technical and self-defense benefits, no-gi judo offers anaerobic, aerobic, full body strength and flexibility training.  Increases your confidence on your feet and compliments your jiu-jitsu or MMA training.</p>
<p><strong>Details</strong> - Standing throws and takedowns are taught primarily. Basic elements and fundamentals such as grips, movement and posture are emphasized.  You will sweat and be challenged physically and mentally.</p>

<h2>Kosen Judo</h2>
<p><strong>Basic description</strong> - private, partner and semi-private judo lessons for adults</p>
<p><strong>Benefits</strong> - In addition to the technical and self-defense benefits, no-gi judo offers anaerobic, aerobic, full body strength and flexibility training.  Increases your confidence on the ground in a low-impact fashion.</p>  
<p><strong>Details</strong> - Style of judo where extra focus is given on the groundwork techniques including pins, chokes, and armlocks.  Basic elements and fundamentals such as grips, posture, proper base and fluid body movements are emphasized.  You will sweat and be challenged physically and mentally.</p>

<h2>Self-defense for women</h2>
<p><strong>Basic description</strong> - private, partner and semi-private self-defense for women</p>
<p><strong>Benefits</strong> - Increase your awareness and confidence while learning how to protect yourself.  Even the odds of surviving a life-threatening situation.</p>
<p><strong>Details</strong> - Tips, tactics and techniques both standing and on the ground are taught to help you avoid being a victim.  Repetitive drilling and realistic training methods are used to mimic a real-life situation.  Classes are taught by 2x Olympian and 5th degree black belt Valerie Gotay.  Excellent for teenage girls as well.</p>

<h2>Strength and Conditioning</h2>
<p><strong>Basic description</strong> - private, partner and semi-private strength and conditioning workouts for adults</p>
<p><strong>Benefits</strong> - increased lean muscle, strength and power, improved mobility, agility, coordination, aerobic and anaerobic threshold, and fat loss.</p>
<p><strong>Details</strong> - Get in shape and improve your physical fitness with our own system of training using a mixture of grappling drills/exercises and full body functional exercises.  Free weights, medicine balls, ropes, cones, boxes, agility ladder, etc. may be used.  Exercise programs are tailored to your level of fitness, but you will be challenged.</p>