<h1>Services</h1>

<p>We offer a variety of services for adults and kids. Choose one of the options below to see more information.</p>

<p>If you're interested in signing up, <%= link_to("download our enrollment form", "/files/enroll.pdf") %>.</p>

<div class="column1">
	<h2><a href="/services/adults">Adults</a></h2>
	<a href="/services/adults"><%= image_tag('services/throwdown.jpg', :alt => "Throwdown") %></a>
	<p><strong>Services offered</strong>: Judo, No-gi Judo, Kosen Judo, <br />Self-defense for women, Strength and Conditioning</p>
</div>

<div class="column2">
	<h2><a href="/services/kids">Kids</a></h2>
	<a href="/services/kids"><%= image_tag('services/twokids.jpg', :alt => "Two judo children") %></a>
	<p><strong>Services offered</strong>: Judo</p>
</div>