<h1>Services for Kids</h1>

<p>If you're interested in signing up, <%= link_to("download our enrollment form", "/files/enroll.pdf") %>.</p>

<h2>Judo</h2>
<p><strong>Basic description</strong> - Kids group classes designed specifically for children</p>
<p><strong>Benefits</strong> - Judo will improve your child's balance, coordination, strength, physical and mental toughness, self-confidence, and discipline.</p>
<p><strong>Details</strong> - We have a unique way of teaching children judo.  Here at SoCal we focus on the fundamentals of judo before progressing to the technical elements (attacking techniques).  The fundamental elements for are grips, movement, and posture.  We do not believe in training children to be "little champions," but in teaching them correct body bio-mechanics, clean technique and understanding the laws of physics as they apply to judo.  We also stress moral and character development.  Classes are a mixture of technique, free practice, physical fitness and combative games.</p>