h1{
	position: relative;
	top: 15px;
	font-family: Georgia, "Times New Roman", serif;
	text-align: center;
	color: #3bb44a;
	font-size: 32px;
	font-weight: normal;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 22px;
	text-shadow: #000 0 3px 2px;
}

#features{
	margin: 2px 0 0 48px;
}
#features img{
	border: 1px solid #222;
}
#features .column2{
	margin: 0 45px;
}

.feature{
	position: relative;
}
.feature a{
	text-decoration: none;
}
.feature p{
	position: absolute;
	bottom: 8px;
	left: 6px;
	margin: 0;
	padding: 0;
	color: #ddd;
	text-shadow: #000 0 1px 2px, #000 0 -1px 2px, #000 0 0 1px;
	font-weight: bold;
	text-transform: lowercase;
}
.feature a:hover p{
	color: #3BB44A;
}