<div class="container">
	<h1>Temecula Valley's best kept secret for quality judo instruction!</h1>

	<div id="features" class="clearfix">
		<div class="feature column1">
			<%= image_tag('home/coaches.jpg', :alt => 'Valerie Gotay and Israel Hernandez') %>
		</div>

		<div class="feature column2">
			<%= image_tag('home/throwdown.jpg', :alt => 'Israel Hernandez Judo Throw') %>
		</div>

		<div class="feature column3">
			<%= image_tag('home/kids.jpg', :alt => 'Smiling Kids') %>
		</div>
	</div>
</div>