<div class="container">
	<h1>Temecula Valley's best kept secret for quality judo instruction!</h1>

	<div id="features" class="clearfix">
		<div class="feature column1">
			<a href="">
				<%= image_tag('home/coaches.jpg', :alt => 'Valerie Gotay and Israel Hernandez') %>
				<p>Meet the coaches</p>
			</a>
		</div>

		<div class="feature column2">
			<a href="">
				<%= image_tag('home/throwdown.jpg', :alt => 'Israel Hernandez Judo Throw') %>
				<p>SoCal Judo Philosophy</p>
			</a>
		</div>

		<div class="feature column3">
			<a href="">
				<%= image_tag('home/kids.jpg', :alt => 'Smiling Kids') %>
				<p>Private classes and other services</p>
			</a>
		</div>
	</div>
</div>