<h1>Frequently Asked Questions</h1>

<h2>About Judo</h2>

<h3>Why is SoCal Judo's Premier Judo Training Center?</h3>
<p>Our combination of expert coaching, modern training methods, competition results and great family environment make us the "Premier Judo Training Center" in Temecula.</p>

<h3>What is Judo?</h3>
<p>Judo is many things to different people: martial art, sport and way of life are just a few. We at SoCal Judo consider Judo to be one of the best forms of physical education. Judo is a grappling art that includes throws, pins, and submission techniques.  There are age requirements to use submission techniques in competition.</p>

<h3>What's the difference between Judo and the other arts?</h3>
<p>Martial arts can be grouped into three categories: the striking arts (taekwondo, karate, kung fu), the weapon arts (kendo, iaido, escrima), and the grappling arts like Judo and jujitsu. Judo involves wrestling-like moves. It has no strikes and uses no weapons.</p>

<h3>How popular is Judo?</h3>
<p>Today, Judo is practiced for fun, fitness, recreation, self-defense and competition throughout the world by millions of people. Judo has found its way into the school systems of many European and Asian countries. At the Olympic level, Judo's popularity is so great that it's usually the first sport to completely sell out.</p>

<h3>Why should I learn Judo instead of another art?</h3>
<p>Judo is a better form of physical education, especially for children. Judo training is tougher, so your body is better prepared mentally and physically to withstand the rigors of an assault. It's more complete because it has standing and ground fighting skills. It provides a better sense of true accomplishments because there is no "make believe" in its training. It's an excellent sport to cross-train in because it offers great development in balance, kinesthetic awareness, coordination and ruggedness.</p>

<h2>Getting started</h2>

<h3>When can I start?</h3>
<p>You can start any time you are ready to join our program. We have no specific beginning sessions.</p>

<h3>How do I get started?</h3>
<p>That's easy! <%= link_to("Fill out the registration form", "/files/enroll.pdf") %>, pay your training fees, purchase your uniform, and you're ready to embark on a wonderful journey with us.</p>

<h3>Do I have to sign a contract?</h3>
<p>No. We are on a month-to-month basis. There is also no registration fee.</p>

<h3>How old must my child be to start judo?</h3>
<p>Although we accept children as young as four or five on a case by case basis, a better starting age may be 6 or 7 for some children. The starting age will depend on a child's maturity level, attention span, interest, and sports background.</p>

<h3>Will I need special equipment?</h3>
<p>The only equipment you'll need is a Judo uniform, which you can purchase from SoCal Judo.  Students are also required to bring a notebook to classes.</p>

<h2>Benefits of Judo</h2>

<h3>Is Judo appropriate for girls or women?</h3>
<p>Very much so! In our opinion, females need Judo more than males do. According to many statistics, as many as one in three females will be subjected to an assault, mugging or rape in her lifetime! We believe that Judo training will give females the physical strength, mental toughness and self-defense tools to better handle an assault. Judo will also help females develop assertiveness and confidence to face the day to day hurdles in today's society.</p>

<h3>Will Judo help me defend myself?</h3>
<p>Judo's detractors will tell you that Judo isn't effective for self-defense because it's a sport. On the other hand, the same detractors will tell you that boxing, which is another Olympic sport, is effective for selfdefense. Go figure! The bottom line is that Judo is effective for selfdefense precisely because it is a combative sport. The competitive element in Judo training gives you a much more realistic preparation for self-defense situations, especially since Judo involves both standing and ground fighting skills. There are no forms or "air bashing" in Judo- only real interaction with a real training partner who fights back.</p>

<h3>Will Judo help me in other sports?</h3>
<p>Judo is one of the best sports to cross-train in, especially if you play a contact sport. It's a natural complement to wrestling. Judo will improve your balance, coordination, kinesthetic awareness, strength, physical and mental toughness, and self-confidence, and will make you a better athlete.</p>

<h3>Is judo practice physically challenging enough to substitute for time in the gym?</h3>
<p>Yes.  Judo offers anaerobic, aerobic, strength and flexibility training in addition to the technical and self-defense benefits.</p>

<h3>Will judo help me be a better high school wrestler?</h3>
<p>Most assuredly, yes! As a matter of fact we don't understand why every wrestler isn't also a Judoplayer. Wrestlers who do Judo become better wrestlers. Wrestlers will benefit from Judo's emphasis on leverage and finesse, and will learn a different set of combative techniques to complement their wrestling skills.</p>

<h2>All About Promotions</h2>

<h3>Does Judo use a belt system?</h3>
<p>Yes, it does. As a matter of fact, Judo pioneers invented the colored belt system that is now used by many of the other arts as well, albeit with different color schemes.</p>

<h3>How long does it take to become a black belt?</h3>
<p>The average time at Judo America is five to six years if you train three times a week, and compete from time to time. Of course, it'll also depend on your prior sports experience and your learning ability. Judo America maintains high standards for rank advancement.</p>

<h3>How often will I get promoted and how much does it cost?</h3>
<p>Promotions are strictly based on merit, and we have no promotion fees. There are no automatic, quarterly promotion events like you'll find in many martial arts studios. You can expect to be promoted two to three times during your first year of training, after which promotions will come at a slower rate of one or two per year.</p>

<h3>Can my 10 year old become a black belt?</h3>
<p>Not a chance! In Judo, there are no promotions to black belt for young children. Unlike many of the karate styles, especially the Korean art of taekwondo, Judo requires physical maturity before becoming a black belt. In other words, your child must be capable of competing with adults before being promoted to black belt. Only our truly outstanding teenagers, who are many times national champions, stand a chance of earning a black belt, often not before sixteen.</p>

<h2>Competition</h2>

<h3>Must I compete in tournaments?</h3>
<p>Children are encouraged to compete but adults are not. For children, competition is a huge part of a child's character development. In general, students who compete advance more quickly than students who don't compete.</p>

<h3>Do I compete with others with similar experience/weight?</h3>
<p>Judo competition is based on weight divisions and skill levels- usually novice, advanced, and master for athletes over 30.</p>

<h3>Do boys and girls compete with each other?</h3>
<p>Yes and no. Girls and boys will train together and compete against each other within the confines of our class but girls are usually not allowed to compete against boys in sanctioned tournaments. However, in many informal events girls with parent or coach approval may compete against boys.</p>