<p>This is just placeholder text for now.</p>

<p>SoCal Judo offers expert teaching and unparalleled experience from 2x Olympic bronze medalist Israel Hernandez and 2x Olympian Valerie Gotay.  We are the Valley's best club for quality judo instruction and offer kids group classes and private and semi-private lessons for adults.  Call now to receive a free lesson (951)699-8969.
</p>
<p>SoCal Judo offers expert teaching and unparalleled experience from 2x Olympic bronze medalist Israel Hernandez and 2x Olympian Valerie Gotay.
</p>
<p>Temecula Valley's best kept secret for quality judo instruction.
</p>
<p>SoCal Judo...a private judo studio
</p>
<p>Private and semi-private lessons for children and adults.</p>