<h2>SoCal Judo - a Private Judo Studio</h2>

<p>The studio offers expert teaching and unparalleled experience from us - <br />2x Olympic medalist Israel Hernandez and 2x Olympian Valerie Gotay.</p>

<p>We are the Valley's best place for quality judo instruction <br />and offer kids group classes and private and semi-private lessons for adults.</p>

<p>Call now to receive a free lesson! <br /><strong>(951) 699-8969</strong></p>

<p><strong><%= link_to("Click here to download our enrollment form.", "/files/enroll.pdf") %></strong></p>