<h2>SoCal Judo - a private judo studio - offers expert teaching and unparalleled experience from 2x Olympic bronze medalist Israel Hernandez and 2x Olympian Valerie Gotay.</h2>

<p>We are the Valley's best club for quality judo instruction and offer kids group classes and private and semi-private lessons for adults.</p>

<p>Call now to receive a free lesson <strong>(951) 699-8969</strong>.</p>

<p><strong><%= link_to("Click here to download our enrollment form.", "/files/enroll.pdf") %></strong></p>