<h1>SoCal Judo Philosophy</h1>

<p>As Olympians and individuals who have spent most of our lives immersed in judo, we believe judo is a discipline that has the capacity to be everything: a science, a sport, a philosophy.</p>

<p>As a science, we teach correct biomechanics, the laws of physics as they apply to the sport, and focus on principles and concepts. Our students are required to bring a notebook to each lesson and frequently are asked to take notes, which they use as a study guide.</p>

<p>As a sport, we teach correct posture and movement, help develop balance, coordination, strength, endurance, and physical and mental toughness. Acquiring these skills provides and foundation that later transfers to any other sport.</p>

<p>In addition to the physical attributes, our founder Jigaro Kano created judo to develop the moral character of a person. As a philosophy, we follow Kano's message by teaching discipline, self-respect, and respect for others. As students attain physical and mental toughness and all the other physical attributes, they increase their confidence.</p>

<p>In the end, this is really what judo is all about and why so many people around the world are so enamored with it. You can be four years old or eighty. It is practiced in every corner of the globe. It is a science, a sport, a philosophy, a way of life.</p>

<p>Welcome to the community.</p>