<h1>Coaches</h1>

<div class="column1">
	<h2><a href="/coaches/valerie_gotay">Valerie Gotay &raquo;</a></h2>
	<a href="/coaches/valerie_gotay"><%= image_tag('coaches/vg.jpg', :alt => 'Valerie Gotay', :class => 'coachPhoto') %></a>
	
	<p><strong>My name is Valerie Gotay. I am a 5th degree black belt and 2x Olympian in the sport of judo and a purple belt in Brazilian jujitsu. I am also a mother of 2 and a certified NASM (National Association of Sports Medicine) personal trainer.</strong></p>
	<p>I have been involved in sport my whole life.  I started judo at the age of four.  I was trained by my father, Gerald Lafon, who now runs Judo America San Diego.  My first competition was at age six.  I won my first of twelve junior national titles at age seven and by thirteen I was traveling the world with the US national judo team.  By age fifteen I had won my first Senior national title and in 1992, at 18 years old, I made my first Olympic team.  I then retired from competition and decided to focus on my studies.  I attended Miramar College then transferred to San Diego State, where I majored in psychology.  In 2004, twelve years later, I made a comeback and in 2008, I made my second Olympic team, just a few months shy of 35!</p>
	<p>Upon returning from the 2008 Olympics, I decided to use my experience and knowledge to help others achieve their fitness goals by becoming a personal trainer.  I got my first start as a trainer working at 24 Hr Fitness. In 2009, I began training people out of my home, where I felt I could better meet my clients needs.  In 2010, Israel Hernandez and I decided to combine our knowledge, experience and passion, and open up SoCal Judo.</p>

	<ul>
		<li>1992 and 2008 U.S. Olympian</li>
		<li>1991, 2005 and 2007 U.S. World Championships Team Member</li>
		<li>1990 U.S. Junior World Championships Team Member</li>
		<li>1991 and 2007 Pan American Games silver medalist</li>
		<li>Medaled 39 times in international competition, including 19 golds!</li>
		<li>8-time senior national champion </li>
		<li>12-time junior national champion</li>
		<li>3-time U.S. Olympic Festival champion</li>
		<li>"Outstanding Female Competitor", 2005 Pan American Championships</li>
		<li>"Fair Play" award, 2007 Pan American Championships</li>
		<li>"Outstanding Female Competitor", 2008 Pan American Championships</li>
		<li>U.S. Olympic Committee "Female Athlete of the Year" for Judo in 1991</li>
	</ul>
</div>

<div class="column2">
	<h2><a href="/coaches/israel_hernandez">Israel Hernandez &raquo;</a></h2>
	<a href="/coaches/israel_hernandez"><%= image_tag('coaches/ih.jpg', :alt => 'Israel Hernandez', :class => 'coachPhoto') %></a>
	
	<p><strong>My name is Israel Hernandez.  I was born in Santiago de Cuba, Cuba in 1970.  I started judo at the age of 6 and by 17 years old, I was admitted into the Olympic program in Havana, Cuba.  From 1987 to 1998 I competed for Cuba, earning countless international medals, including 2 Olympic bronze medals in 1992 and 1996.</strong></p> 
	<p>Upon retiring from competition in 1998, I accepted my first coaching position at the Olympic Training Center in Barcelona, Spain.  I would later go on to coach various teams, including, the Puerto Rican national judo team, the Harlingen, Texas National Training Site team and finally the 2008 US Olympic judo team.  From 2009-2011, I worked as a methodologist for Puerto Rico's elite athlete program. and was the strength and conditioning and judo coach to MMA fighter Sokoudjou a.k.a The African Assassin.</p>
	<p>I hold a Master's degree in kinesiology and a Bachelor's degree in psychological variables in the elite athlete.  I am passionate about coach education in sport and believe today's coaches must be educated in all aspects of training, including training methodology, strength and conditioning, sports psychology, nutrition and supplementation, injury prevention and recovery and recuperation.</p>

	<ul>
		<li>1992 and 1996 Olympic Games bronze medalist</li>
		<li>1991, 1993, 1995, 1997 World Championships Team Member</li>
		<li>1990 Junior World silver medalist</li>
		<li>Three time Pan American Games medalist</li>
		<li>Assistant coach for the Cuban men's 2000 Olympic Team</li>
		<li>Head coach Puerto Rican national judo team 2000-2005</li>
		<li>Head coach Harlingen national judo training site 2006-2008</li>
		<li>Head coach US women's Olympic judo team</li>
		<li>Judo coach to MMA fighter Sokoudjou</li>
	</ul>
</div>