<h1>Israel Hernandez</h1>

<div class="column1">
	<h2>Israel winning the Bronze Medal at the 1992 Olympics</h2>
	<iframe width="455" height="371" src="http://www.youtube.com/embed/DyrKoRK1NGE?rel=0" frameborder="0" allowfullscreen></iframe>
</div>

<div class="column2">
	<h2>Trailer for our instructional DVD</h2>
	<iframe width="455" height="259" src="http://www.youtube.com/embed/IvFB37wFgrM?rel=0" frameborder="0" allowfullscreen></iframe>
	
	<p><a href="#">For more details about our instructional DVD or to place an order, click here</a>.</p>
</div>