<h1>Valerie Gotay</h1>

<div class="column1">
	<iframe width="455" height="371" src="http://www.youtube.com/embed/lJVknfLyMrQ?rel=0" frameborder="0" allowfullscreen></iframe>
</div>

<div class="column2">
	
</div>