<h1>Basic Judo Terminology</h1>

<dl>
	<dt>Judo</dt>
	<dd>the gentle way</dd>
	
	<dt>Ju-jitsu</dt>
	<dd>the gentle art</dd>
	
	<dt>Kodokan</dt>
	<dd>house which shows the way</dd>
	
	<dt>Dojo</dt>
	<dd>training area where judo is practiced</dd>
	
	<dt>Judoka</dt>
	<dd>judo player</dd>
	
	<dt>Sensei</dt>
	<dd>instructor</dd>
	
	<dt>Tatami</dt>
	<dd>mats on which judo is practiced</dd>
	
	<dt>Kimono</dt>
	<dd>judo uniform</dd>
	
	<dt>Obi</dt>
	<dd>belt</dd>
	
	<dt>Ukemi</dt>
	<dd>break fall</dd>
	
	<dt>Kuzushi</dt>
	<dd>the off balancing of an opponent</dd>
	
	<dt>Tori</dt>
	<dd>person doing a technique</dd>
	
	<dt>Uke</dt>
	<dd>person receiving a technique</dd>
	
	<dt>Hajime</dt>
	<dd>begin</dd>
	
	<dt>Mate</dt>
	<dd>stop</dd>
	
	<dt>Tachi waza</dt>
	<dd>standing techniques</dd>
	
	<dt>Ne waza</dt>
	<dd>ground techniques</dd>
</dl>