<h1>The Birth of Judo</h1>

<p>Judo was founded in Japan in 1882 by idealist and educator Jigaro Kano. Professor Kano practiced and studied various styes of ju-jitsu with some of the best masters.  He modified or eliminated the most dangerous of the Ju-jitsu techniques and created a new discipline, which he called judo.</p>  

<p>Kano called his new system Kodokan Judo.</p>

<p>In February of 1882, Kano opened the first "Kodokan" gym in Tokyo.</p>

<p>It opened its doors with only nine students the first year.  Soon, the new Kodokan Judo became the center of public attention.  But its practical merits were looked upon with contempt by most old jujitsu men, including master Hikosuke Totsuka. There soon developed a keen rivalry between the Kodokan and the Totsuka School.</p>

<p>Judo is "the gentle way" because the end result is maximum efficiency with minimum effort. "The way" being the concept of life itself.  Judo is more than an art of attack and defense. It is a way of life.</p>

<p>As a sport, rather than simply a combat form, Judo includes a code of sportsmanship, a sense of mutual respect, and a system of ethical and moral development.</p>

<p>Judo is both an art and a science.</p> 

<p>As an art, Judo enables its practitioners to gain self-respect, self-confidence, and selfexpression; as a science, it involves a mastery of such basic natural laws as gravity, friction, momentum, weight transmission, and unity of forces.</p>

<p>The popularity of Judo increased dramatically after a famous contest hosted by the Tokyo police in 1886 where the Judo team defeated the most well-known jujutsu school of the time. Defeat would have been fatal to the Kodokan. But in that tournament, to which each school sent 15 picked men, the Kodokan won all the bouts excepting two, which ended in a draw. His was a decisive victory.  That brilliant victory established once and for all the supremacy of Kodokan Judo over all jujitsu schools." It then became a part of the Japanese physical education system and began its spread around the world.</p>  

<p>Eventually judo displaced jujitsu in Japan, and no one any longer speaks of jujutsu as a contemporary art in Japan, although the word has survived overseas.</p>