<h1>Highest Ranks</h1>

<p>Only fifteen people have been promoted to 10th dan by the Kodokan. </p>

<p>Twelve were promoted between 1935 and 1984.</p>

<p>The other three were promoted together on 8 January 2006, and they are the only living 10th dans recognized by the Kodokan.</p>

<p>Three judoka have been promoted to 10th dan by the IJF(International Judo federation), though not recognized by the Kodokan.</p>

<p>Some national (country) associations and continental unions have also promoted judoka to 10th dan.</p>

<h2>Male - Kodokan 10th dan</h2>
<ul>
	<li>Yamashita Yoshiaki (Japan, 1865-1935) (aka Yamashita Yoshitugu) promoted to Kodokan 10th dan in 1935, the first person ever awarded 10th dan by the Kodokan. He was also a pioneer of judo in the United States, where he taught judo to President Theodore Roosevelt.</li>
	<li>Hajime Osogai (Japan, 1871-1947) promoted to Kodokan 10th dan in 1937.</li>
	<li>Hidekazu Nagaoka (Japan, 1876-1952) promoted to Kodokan 10th dan in 1937.</li>
	<li>Kyuzo Mifune (Japan, 1883-1965) promoted to Kodokan 10th dan in 1945. Considered to be the greatest judo technician ever after Kano Jigoro.</li>
	<li>Kunisaburo Lizuka (Japan, 1875-1958) promoted to Kodokan 10th dan in 1946.</li>
	<li>Kaichiro Samura (Japan, 1880-1964) promoted to Kodokan 10th dan in 1948.</li>
	<li>Shotaro Tabata (Japan, 1884-1950) promoted to Kodokan 10th dan in 1948.</li>
	<li>Kotaro Okano (Japan, 1885-1967) promoted to Kodokan 10th dan in 1967.</li>
	<li>Matsutaro Shoriki(Japan, 1885-1969) promoted to Kodokan 10th dan in 1969. He was also known as the father of Japanese professional baseball.</li>
	<li>Shozo Nakano (Japan, 1888-1977) promoted to Kodokan 10th dan in 1977.</li>
	<li>Tamio Kurihara (Japan, 1896-1979) promoted to Kodokan 10th dan in 1979.</li>
	<li>Sumiyuki Kotani(Japan, 1903-1991) promoted to Kodokan 10th dan in 1984.</li>
	<li>Ichiro Abe (Japan, c1923-) promoted to Kodokan 10th dan on 8 January 2006, at age 83. Abe was international chairperson of the All Nippon Judo Federation and has strong links internationally through the coaching he has done in Europe.</li>
	<li>Toshiro Daigo (Japan, 1926-) promoted to Kodokan 10th dan on 8 January 2006, at age 80. Daigo is a two-time winner of the All Nippon Judo Tournament (1951 and 1954), and a former manager of the Japanese national team, and is currently Chief Instructor at the Kodokan. Daigo is known by the nickname Mr Kodokan.</li>
	<li>Yoshimi Osawa (Japan, c1927-) promoted to Kodokan 10th dan on 8 January 2006, at age 79. Osawa is also still coaching at the Kodokan, and is recognized for his support of women's judo.</li>
</ul>

<h2>Male - International Judo Federation 10th dan</h2>
<ul>
	<li>Charlie Palmer (United Kingdom, 1930-2001), IJF 10th Dan (promoted in 1996), was the first non-Japanese to be the President of the IJF. He was inducted to the IJF Hall of Fame on 8 September, 2003.</li>
	<li>Anton Geesink (Netherlands, 1934-2010), IJF 10th Dan (promoted in 1997), was the first non-Japanese ever to have won a World Championship. He was inducted to the IJF Hall of Fame on 8 September, 2003.</li>
	<li>George Kerr (United Kingdom, 1937-) IJF 10th dan (promoted in 2010).</li>
</ul>

<h2>Male - 10th dan, not recognized by the Kodokan or the International Judo Federation</h2>
<ul>
	<li>Mikonosuke Kawaishi (Japan/France, 1899-1969) FFJDA (French Judo Federation) 10th dan</li>
	<li>Philip S. Porter (United States, 1925-), USMA 10th dan Judan, January 1, 2005).</li>
	<li>Henri Courtine (France, 1930-), FFJDA 10th dan (promoted in 2007).</li>
	<li>Jaap Nauwelaerts de Age (Netherlands, 1917-), JBN 10th dan (promoted in 2008).</li>
</ul>

<h2>Female - Kodokan 9th dan</h2>
<ul>
	<li>Keiko Fukuda (Japan & USA, 1913-), Kodokan 9th dan - the highest ranking female judoka ever. Fukuda is the last living pupil of Kano.</li>
</ul>