<h1>Interesting Judo Facts</h1>

<p>Judo is the most widely practiced martial art on earth.</p>
<p>Judo is the second most-practiced sport worldwide, behind the most-widely practiced sport of soccer.</p>
<p>Many more people in France practice judo than in Japan.</p>
<p>Judo is usually the first sport to sell out at the Olympic Games.</p>
<p>Judo is the safest contact sport for children under 13 (American College of Sports Medicine).</p>
<p>Japanese police are required to train in either judo or kendo. Judo is the primary form of self-defense taught to many police agencies around the world.
</p>
<p>It is a compulsory subject in the Japanese Educational System.</p>
<p>Kano was 5'2" and weighed 90 lbs.</p>
<p>Because of his many contributions in the field of athletics, Professor Kano is called the "Father of Physical Education and Sport" in Japan.</p>
<p>Kano participated in a jujitsu demonstration given to former US President Ulysses S. Grant.</p>