<h1>Judo and Brazilian Jujitsu</h1>

<p>Brazilian Jiu-Jitsu (BJJ) is a martial art, combat sport and self-defense system that focuses on grappling and especially ground fighting.</p>

<p>The art was derived from Kodokan judo in he early 1900's.</p>  

<p>The art began with Mitsuyo Maeda, one of Kano's students and top groundwork expert. Maeda taught judo to  Carlos  Gracie.  Carlos learned for a few years and eventually passed his knowledge to his brothers.</p>

<p>His youngest brother, Helio Gracie eventually developed Gracie Jiu-Jitsu or Brazilian Jiu-Jitsu as an adaptation from Judo as he was unable to do many Judo moves because he was sick and naturally frail.  Helio went on to compete and win several submission based competitions, until he was defeated in Brazil in 1951 by a Japanese judoka, Masahiku Kimura.</p>  

<p>Kimura was the name the Gracie's gave to the armlock the judoka used to defeat Helio.</p> 

<p>Helio Gracie held the rank of 6th degree black belt in judo.</p>