<h1>Judo and Brazilian Jujitsu</h1>

<div class="picLeft">
	<%= image_tag('extras/maeda.jpg') %><br />
	<p class="caption">Mitsuyo Maeda in gi</p>
</div>

<div class="picRight">
	<%= image_tag('extras/maeda_gracie.jpg') %><br />
	<p class="caption">Maeda with Carlos Gracie</p>
</div>

<p><strong>Brazilian Jiu-Jitsu</strong> (BJJ) is a martial art, combat sport and self-defense system that focuses on grappling and especially ground fighting.</p>

<p>The art was derived from Kodokan judo in he early 1900's.</p>  

<p> The art began with <strong>Mitsuyo </strong>Maeda, one of Kano's students and top groundwork expert. Maeda taught judo to <strong>Carlos Gracie</strong>.  Carlos learned for a few years and eventually passed his knowledge to his brothers.</p>

<p>His youngest brother, <strong>Helio Gracie</strong> eventually developed <strong>Gracie Jiu-Jitsu or Brazilian Jiu-Jitsu</strong> as an adaptation from Judo as he was unable to do many Judo moves because he was sick and naturally frail.  Helio went on to compete and win several submission based competitions, until he was defeated in Brazil in 1951 by a Japanese judoka, <strong>Masahiku Kimura</strong>.</p>  

<p>Kimura was the name the Gracie's gave to the armlock the judoka used to defeat Helio.</p> 

<p>Helio Gracie held the rank of 6th degree black belt in judo.</p>

<div id="videoGallery" class="clearfix">
	<div class="column1">
		<iframe width="449" height="337" src="http://www.youtube.com/embed/nkNkr0HuXlc?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>
	
	<div class="column2">
		<iframe width="450" height="367" src="http://www.youtube.com/embed/v2wO3dHUYwQ?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>
</div>