<h1>Judo in <abbr title="Mixed Martial Arts">MMA</abbr></h1>

<div id="primaryContent" class="clearfix">
	<div class="column1">
		<p>A number of judo players have competed in mixed martial art events. The art's emphasis on ground grappling and dynamic throws translates well to such events.  High profile judokas have included:</p>
		<ul>
			<li>Former Russian national judo champion <strong>Fedor Emelianenko</strong></li>
			<li>Japanese Olympic gold medalist <strong>Hidehiko Yoshida</strong></li>
			<li>US Olympic bronze medalist <strong>Ronda "Rowdy" Rousey</strong> </li>
			<li>US Olympian <strong>Rick Hawn</strong> and Bellator fighter</li>
			<li>US Olympian Dr. Rhadi Ferguson and Strikeforce fighter</li>
			<li>Cuban Olympian <strong>Hector Lombard</strong> and Bellator middleweight champion</li>
			<li>Japanese UFC fighter <strong>Yoshihiro Akiyama</strong></li>
		</ul>
		
		<p>Other notable MMA fighters holding black belts in Judo include:</p>
		<ul>
			<li>Kazuhiro Nakamura</li>
			<li>Shinya Aoki</li>
			<li>Ferrid Kedher</li>
			<li>Karo Parisyan, http://www.youtube.com/watch?v=lJ50D9sHRnM</li>
			<li>Antonio Rodrigo Noguiera</li>
			<li>Fabricio Werdum</li>
			<li>Anderson Silva</li>
			<li>Ronaldo Souza</li>
			<li>Renzo Gracie</li>
			<li>Manvel Gamburyan</li>
			<li>Vitor Belfort</li>
			<li>Gerard Mousasi</li>
			<li>Kim Dong-hyun</li>
			<li>Pawel Nastula</li>
		</ul>
	</div>
	
	<div class="column2">
		<iframe width="449" height="337" src="http://www.youtube.com/embed/tvI5X0-nY1E?rel=0" frameborder="0" allowfullscreen></iframe>
		
		<div class="clearfix">
			<div class="column1">
				<iframe width="220" height="125" src="http://www.youtube.com/embed/Zg8O9dyB5io?rel=0" frameborder="0" allowfullscreen></iframe>
			</div>

			<div class="column2">
				<iframe width="220" height="165" src="http://www.youtube.com/embed/YE8vZArzvNQ?rel=0" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>

<div id="secondaryContent" class="clearfix">
	<div class="column1">
		<iframe width="310" height="232" src="http://www.youtube.com/embed/_nDxVjH885o?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>

	<div class="column2">
		<iframe width="310" height="232" src="http://www.youtube.com/embed/6SJAwb-eOOM?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>

	<div class="column3">
		<iframe width="310" height="232" src="http://www.youtube.com/embed/QKfAKoS-158?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>
</div>