<h1>Judo and Competition</h1>

<p>In competition, the object is to throw one's opponent squarely onto their back or take them down to the ground to pin or submit them by way of a choke or armlock.</p>

<p>There are no strikes, kicks or punches.</p>

<p>Touching the opponent's face is not allowed.</p>

<p>Attacking joints other than the elbow is not allowed.</p>

<p>Head dives are not permitted.</p>

<p>Wearing any hard or metallic object during competition is not permitted. The penalty for violating this rule is hansoku make (disqualification). This includes wedding rings, earrings, hard-plastic protective gear, hair-ties with metal parts, wristwatches, and even press-studs on underpants.</p>

<p>There is one head referee and 2 assistant referees.</p>

<p>Contestants must bow before stepping onto the mat.</p>

<p>Contestants must bow to each other before and after practice or competition.</p>

<p>Inappropriate behavior, such as foul language and bodily gestures, is not tolerated.</p>

<p>Stalling is not permitted.</p>

<p>Adopting a defensive posture is not permitted.</p>

<p>It is required to bow to the competition area.</p>

<p>False attacks are not permitted. They are considered attempts to circumvent the prohibition against non-combativity.</p>

<p>Disregarding the orders of the judge is prohibited.</p>

<p>There are 3 scores in: ippon, wazari and yuko.</p>

<p>Ippon is a full point and ends the match.  The ippon is awarded by throwing your opponent squarely on their back, by pinning them for 25 seconds without losing control or by submitting them by way of choke or 
armlock.</p>

<p>Wazari is one half point. When Two waza-ari are awarded in the same match, it is considered to be same as ippon and the match ends.</p>

<p>Wazari is awarded by throwing your opponent with control and accuracy, but not to the extent of an ippon, or holding a pin for 20-24 seconds.</p>

<p>One score of waza-ari is considered greater than any number of yuko scores.</p>

<p>Yuko is currently the smallest score that can be awarded.</p>

<p>Yuko is awarded by throwing your opponent onto their side or butt or holding a pin for 15-19 seconds.</p>

<p>Penalties can be given for being inactive during the match and for the use of illegal techniques or actions.</p>  

<p>Matches can be won on penalties alone.  Receiving 4 penalties during a match constitutes an instant win for your opponent.</p>

<p>Matches are 3 minutes for children and 5 minutes for adults.</p>

<p>If the scores are identical at the end of the match, the contest is resolved by the Golden Score rule. </p>

<p>Golden Score is a sudden death situation where the clock is reset to match-time, and the first contestant to achieve any score wins.</p>

<p>If there is no score during this period, then the winner is decided by Hantei, the majority opinion of the referee and the two corner judges.</p>