<h1>Judo and the Olympic Games</h1>

<p>Judo became an Olympic sport for men in the 1964 Games in Tokyo.</p> 

<p>Dutchman Anton Geesink won the first Olympic gold medal in the open division of judo by defeating Akio Kaminaga of Japan. Judo then lost the image of being "Japanese only" and went on to become one of the most widely practiced sports in the world.  With the persistence of Rena "Rusty" Kanokogi,  an American, and many others, judo became an Olympic sport for women as well in the 1992 Games in Barcelona.</p>

<h3>US Olympic Medalists</h3>
<ul>
	<li>James Bregman - 1964 bronze, 80 kg</li>
	<li>Allen Coage - 1976 bronze, 93 kg</li>
	<li>Robert Berland - 1984 silver, 86 kg</li>
	<li>Kevin Asano - 1988 silver, 60 kg</li>
	<li>Eddie Liddie - 1984 bronze, 60 kg</li>
	<li>Mike Swain - 1988 bronze, 71 kg</li>
	<li>Jimmy Pedro - 1996 bronze, 2004 bronze, 73 kg</li>
	<li>Jason Morris - 1992 silver, 78 kg</li>
	<li>Ronda Rousey - 2008 bronze, 70 kg</li>
</ul>