<h1>Judo in <abbr title="Mixed Martial Arts">MMA</abbr></h1> 

<p>A number of judo players have competed in mixed martial art events. The art's emphasis on ground grappling and dynamic throws translates well to such events.  High profile judokas have included:</p>
<ul>
	<li>Former Russian national judo champion Fedor Emelianenko</li>
	<li>Japanese Olympic gold medalist Hidehiko Yoshida</li>
	<li>US Olympic bronze medalist Ronda "Rowdy" Rousey </li>
	<li>US Olympian Rick Hawn and Bellator fighter</li>
	<li>US Olympian Dr. Rhadi Ferguson and Strikeforce fighter</li>
	<li>Cuban Olympian Hector Lombard and Bellator middleweight champion</li>
	<li>Japanese UFC fighter Yoshihiro Akiyama</li>
</ul>

<p>Other notable MMA fighters holding black belts in Judo include:</p>
<ul>
	<li>Kazuhiro Nakamura</li>
	<li>Shinya Aoki</li>
	<li>Ferrid Kedher</li>
	<li>Karo Parisyan, http://www.youtube.com/watch?v=lJ50D9sHRnM</li>
	<li>Antonio Rodrigo Noguiera</li>
	<li>Fabricio Werdum</li>
	<li>Anderson Silva</li>
	<li>Ronaldo Souza</li>
	<li>Renzo Gracie</li>
	<li>Manvel Gamburyan</li>
	<li>Vitor Belfort</li>
	<li>Gerard Mousasi</li>
	<li>Kim Dong-hyun</li>
	<li>Pawel Nastula</li>
</ul>