<h1>Judo Players in Hollywood</h1>

<p>James Cagney was a black belt in Judo.  See Cagney performing numerous judo techniques in this extract from Blood on the Sun.</p>

<p>Lucille Ball on the I Love Lucy show took judo.</p>

<p>Melanie Chrisholm (formerly Sporty Spice of the Spice Girls) had to withdraw from her involvement in the TV series "The Games" in 2003 due to a knee injury sustained in the judo competition against 2002 Miss World Azra Akin.</p>

<p>George Harris (judo movie star): Harris starred in a feature film tiled "Judo's Gentle Tiger", also known as "The Year of the Gentle Tiger". A forerunner to "The Karate Kid", it was shot in the late 1970s, and was later broadcast as an NBC daytime program. Harris also appeared on talk shows and was twice a guest on "To Tell the Truth". He was a two-time Pan American judo champion, and four-time US National judo champion.</p>

<p>Gene LeBell (stuntman/actor, b.1932): LeBell has worked on over 350 films and TV shows and is commonly known as "the Godfather of Grappling" and "the Toughest Man Alive". In 2002, Gene LeBell was promoted to 10th dan in judo by Jon Bluming in Holland. In February 2005, he was promoted to 9th dan in Traditional Kodokan Judo by the USJJF.</p>

<p>Actress Hillary Wolf (Home Alone I & II) is a 1996 Olympian ranked #1 in the USA.</p>

<p>Chuck Norris (actor): Norris's introduction to martial arts took place in South Korea after enlisting in the U.S. Air Force in 1958. He left Korea with a black belt in Tang Soo Do, and a brown belt in judo. In his movies he can often be seen executing O Goshi, Uki Goshi, Seoi Nage, Waki Gatame and Tomoe Nage.</p>