<h1>Judo Players in Politics</h1>

<p>U.S. Senator Ben Nighthorse Campbell was captain of the 1964 Olympic Judo Team.</p>

<p>President Theodore Roosevelt became a brown belt in Judo during his administration.  Roosevelt was instrumental in appointing Jigaro Kano's pupil Yamashita Yoshiaki to teach judo at the US Navel Academy.</p>

<p>The late Prime Minister Trudeau was a black belt in Judo.</p>

<p>President of Russia, Mr. Vladimir Putin is a 2nd degree black belt in judo.</p>

<p>Ben Nighthorse Campbell (U.S. Senator for Colorado, 1993-2005): Campbell won three U.S. national championships and a gold medal at the 1963 Pan American Games judo competition. He was captain of the U.S. judo team in the 1964 Summer Olympics, and was chosen to carry the American flag during the closing ceremonies.</p>

<p>Vladimir Putin (Russian President, 2000-2008; Russian Prime Minister, 2008-): Putin was awarded 6th dan (prestigious red & white belt) at the Kodokan in 2000. In the 1970s, he was awarded a master os sports in both judo and sambo. Putin has described judo as "my favorite sport", and he continues to practice it. In 2004 he coauthored a book about judo, published in Russian as Judo with Vladimir Putin and in English as Judo: History, Theory, Practice. The book has now been made into a film called Judo with Vladimir Putin. Here is a short video clip of Putin executing a throw.</p>

<p>Theodore Roosevelt (US President 1901-1909): Roosevelt was the first world leader to learn judo, and the first American to reach brown belt. A very keen judoka, he took lessons up to three times a week from judo's first-ever 10th dan, WWE Wrestler "Bad News Brown" is Allen Coage, 1976 Olympic Bronze Medalist.</p>

<p>Albert II (Prince of Monaco, 2005-): 1st dan black belt.</p>