<h1>Other Famous Judo Players</h1>

<p>Moshe Feldenkrais (scientist/healer/author/teacher, b.1904 d.1984) held a Doctor of Science in engineering from the Sorbonne, and was the founder of the Feldenkrais method which was designed to improve human functioning by increasing selfawareness through movement. Feldenkrais started learning judo in 1930, and met Kano Jigaro in 1933. He became a close friend of Kano, and corresponded with him regularly.</p>

<p>Kano chose him to be one of the doors through which the East attempts to meet the West.  He was one of the first Europeans to be awarded a black belt (in 1936), and he received his 2nd dan in 1938. From his position on the European Judo Council, he began to scientifically study Judo, later incorporating the knowledge he gained through his self-rehabilitation. He founded the French Judo Association and published three books about judo.</p>

<p>Jeremy Glick (September 11) Flight 93 counterattacker: Glick's last words to his wife on United Airlines Flight 93 were: "We're going to rush the hijackers." Then he put down the phone.  Glick was US National Collegiate Judo champion in 1993.</p>